Date,HomeTeam,AwayTeam,FTHG,FTAG,GXH,GXA,HW,AW,D,OV2.5,U2.5,B365H,B365A,B365D,B365>2.5,B365<2.5
[%- FOREACH game IN data %]
[% game.date %],[% game.home_team %],[% game.away_team %],
[%- game.fthg %],[% game.ftag %],
[%- game.home_expect %],[% game.away_expect %],
[%- game.home_win %],[% game.draw %],[% game.away_win %],
[%- game.over_2pt5 %],[% game.under_2pt5 %],
[%- game.b365h %],[% game.b365a %],[% game.b365d %],
[%- game.b365over %],[% game.b365under %],
[%- END %]
