/football_session.pl
/favourites_session.pl
/reports_session.pl
/handicap_session.pl
/places.pl
/update.bat
/margins.*
/t/*.tx
/historical
/data
/data/fixtures.xls
/data/fixtures.txt
/data/backups
/data/historical
/data/Euro
/data/Euro/scraped
/data/Euro/cleaned
/reports
/reports/Rugby
/v3
/HMVC
v3.pl
*.xlsx
*.ods*
*.json
.precomp
/.precomp
goal_expect_test.pl
